.footer {
    width: var(--default-layout-width);
    height: 523px;
    background-color: var(--black);
    padding: 80px 130px;
}

.footer-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    color: var(--white);
    line-height: 50px;
    width: 120px;
    height: 50px;
    font-size: 43px;
    font-family: var(--font-logo);
}

.footer-section {
    min-width: 200px;

    h3 {
        display: inline-block;
        border-bottom: 1px solid var(--white);
        font-size: 1.6rem;
        color: var(--white);
        padding-bottom: 12px;
        margin-bottom: 24px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 12px;
            font-size: 1.4rem;
            font-weight: 400;

            a {
                color: var(--white);
                text-decoration: none;

                &:hover {
                    color: #bbbbbb;
                }
            }
        }
    }

    p {
        font-size: 1.4rem;
        color: var(--white);
        margin-bottom: 12px;
        width: 200px;
    }
}

.footer-bottom {
    height: 55px;
    margin-top: 73px;
    border-top: 1px solid #9a9a9a;

    p {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 55px;
        color: var(--white);
    }
}

.payment-methods {
    li {
        display: block;
        color: var(--white);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;

        .icon {
            margin-right: 10px;
        }
    }
}

.social-icons {
    li {
        display: inline-block;
        margin-right: 10px;

        a {
            font-size: 16px;
        }
    }
}

.social-icons li a {
    font-size: 16px;
    transition: color 0.3s ease;

    &.facebook:hover {
        color: #3b5998;
    }

    &.instagram:hover {
        color: #e4405f;
    }

    &.github:hover {
        color: #333;
    }

    &.twitter:hover {
        color: #1da1f2;
    }

    &.snapchat:hover {
        color: #fffc00;
    }

    &.linkedin:hover {
        color: #0077b5;
    }
}

.about-section {
    display: flex;
    justify-content: space-between;

    .about-left,
    .about-right {
        width: 45%;

        li a {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
        }
    }
}
