.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 10px 32px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #1a1a1a;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.rounded {
    font-weight: 600;
    background-color: transparent;
    border: none;
}

.primary {
    color: #ffffff;
    background-color: #1a1a1a;
}
