.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 10px 32px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    font-family: var(--font-text);

    + .wrapper {
        margin-left: 80px;
    }

    &.disabled {
        opacity: 0.5;
        cursor: no-drop;
    }
}

.icon {
    font-size: 2.8rem;
}

// Fill, Outline, playVideo Button
.rounded {
    border-radius: 999px;
    font-weight: 600;
    min-width: 130px;
    padding: 5px 0;
    height: 26px;
    background-color: transparent;
}

.fill {
    background-color: var(--black);
    color: var(--white);

    span {
        height: 18px;
    }

    &:hover {
        background-color: var(--white);
        color: var(--black);
        border: 1px solid var(--black);
    }
}

.outline {
    width: 180px;
    height: 50px;
    padding: 16px 22px;
    border-color: var(--black);
    background-color: var(--white);
    color: var(--black);

    &:hover {
        border-color: var(--white);
        background-color: var(--black);
        color: #fcfcfd;
    }
}

.reverse {
    border-color: transparent;
    background-color: var(--black);
    color: var(--white);

    &:hover {
        background-color: var(--white);
        color: var(--black);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Plus, Minus Button
.plus,
.minus {
    width: 40px;
    height: 40px;
    padding: 16px;
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--gray);

    &:hover {
        color: var(--white);
        background-color: var(--black);
        border: none;
    }
}

// Size Button
.size {
    width: 32px;
    height: 32px;
    padding: 7px 12px;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);

    &.disabled {
        color: var(--gray);
        border-color: var(--gray);
        cursor: not-allowed;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, transparent 50%, #9a9a9a 50%, #9a9a9a 55%, transparent 55%);
        }
    }
}
