@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Lexend:wght@100..900&family=Montserrat:wght@100..900&display=swap');

:root {
    --font-logo: 'Germania One', system-ui;
    --font-text: 'Lexend', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-text);
    font-size: 1.6rem; // 16px
    line-height: 1.09375; // 17.5px
    text-rendering: optimizeSpeed;
}
