@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Lexend:wght@100..900&family=Montserrat:wght@100..900&display=swap');

:root {
    // Font-family
    --font-logo: 'Germania One', system-ui;
    --font-text: 'Lexend', sans-serif;

    // Font-color
    --black: #1a1a1a;
    --white: #ffffff;
    --gray: #9a9a9a;

    // Fon-weight
    --font-bold: 600;
    --font-normal: 400;
    // Default layout
    --default-layout-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-text);
    font-size: 1.4rem; // 16px
    line-height: 17.5px;
    text-rendering: optimizeSpeed;
    color: var(--black);
    overflow-y: overlay;
}

a {
    color: var(--black);
    text-decoration: none;
}
