.hero {
    position: relative;
    width: 1440px;
    height: 598px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;

    &.men-banner {
        background-color: #e5effb;
    }

    &.women-banner {
        background-color: #d2d9f2;
    }
}

.hero-content {
    width: 660px;
    height: 426px;
    margin-top: 34px;

    .season-label {
        font-size: 1.4rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            margin-left: 8px;
            top: 80%;
            transform: translateY(-20%);
            width: 40px;
            height: 0;
            border-top: 1px solid var(--black);
        }
    }

    .title,
    .sub-title {
        margin-top: 16px;
        font-size: 5.8rem;
        line-height: 72.5px;
        position: relative;
        z-index: 1;
    }

    .sub-title {
        margin-left: 100px;
        width: 583px;
        position: relative;
        z-index: 1;
    }

    .hero-btn {
        margin-top: 88px;
        display: flex;
        gap: 40px;
    }

    .hero-slide {
        margin-top: 105px;
        display: flex;
        gap: 8px;

        .slide-line {
            width: 40px;
            height: 2px;
            cursor: pointer;

            &.first-line {
                background-color: var(--white);
            }

            &.second-line,
            &.third-line {
                background-color: #b3c4d7;
            }
        }
    }

    &.men-content {
        .sub-title {
            width: 650px;
        }
    }

    &.women-content {
        .title,
        .sub-title {
            width: 600px;
        }
    }
}

.hero-image {
    width: 680px;
    height: 460px;
    position: absolute;
    right: 130px;

    .skateboarder-img {
        position: absolute;
        object-fit: cover;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
    }

    strong {
        position: absolute;
        right: 16px;
        text-align: right;
        font-size: 1.4rem;
        color: var(--black);

        p {
            color: var(--white);
        }
    }

    &.men-image {
        background-color: #d4f5ff;

        strong {
            bottom: 18px;
        }
    }

    &.women-image {
        background-color: #e8f1ff;

        strong {
            top: 18px;
        }
    }
}
