@import '../../../GlobalStyles/GlobalStyles.scss';

.wrapper {
    position: relative;
    margin: 120px 130px;
    width: 1180px;
    height: 654px;

    .img-hoodie {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 380px;
        height: 504px;
        background-color: #e5cded;

        img {
            width: 380px;
            height: 504px;
        }
    }

    .text-content {
        position: absolute;
        width: 778px;
        height: 448px;
        left: 300px;
        bottom: 0;

        .img-first {
            margin: 25px 0 0 15px;
        }

        .img-second {
            position: absolute;
            margin-top: 125px;
            z-index: 3;
            right: 0;
        }
        p {
            width: 280px;
            height: 36px;
            margin: 147px 0 0 215px;
            font-weight: 300;
        }

        Button {
            margin: 102px 0 0 215px;
        }

        .img-shoes {
            position: absolute;
            width: 220px;
            height: 295px;
            background-color: #c7d1eb;
            right: 0;
            bottom: 0;
            @include flex-center;
            z-index: 2;
        }
    }
    .img-hat {
        position: absolute;
        top: 150px;
        right: 0;
        width: 200px;
        height: 252.5px;
        background-color: #c5e5e9;
        @include flex-center;
    }
}
