.container {
    width: 1180px;
    height: 994px;
    background-color: aquamarine;
    margin: 120px 130px;
}

.products {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    position: relative;
    width: 280px;
    height: 382px;
    overflow: hidden;
    background-color: var(--white);
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 60px;

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        width: 280px;
        height: 285px;
    }

    .product-info {
        height: 97px;
        padding: 20px;

        .product-name {
            font-size: 1.4rem;
            position: relative;
            display: inline-block;
            padding-bottom: 2px;

            &::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }

        .product-sale {
            margin-top: 18px;
            line-height: 21.25px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product-price {
                font-size: 1.7rem;
                font-weight: 700;
            }

            .product-sold {
                font-size: 1.2rem;
                line-height: 15px;
            }
        }
    }

    .heart-icon {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
    }
}
