.wrapper {
    margin: 180px 130px;
    width: 1180px;
    height: 856px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.section {
    position: relative;
    width: 580px;
    height: 418px;
    padding: 20px;

    &.top-left {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%),
            url('../../../../../public/assets/images/men/container/season/season_1.png');
        background-color: #9bf0e1;
        padding: 80px 100px;

        .new-season {
            font-size: 1.4rem;
            color: var(--white);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                margin-left: 8px;
                top: 80%;
                transform: translateY(-20%);
                width: 875px;
                width: 40px;
                height: 2px;
                border-top: 1px solid var(--white);
            }
        }

        .title,
        .sub-title {
            max-width: 236px;
            margin-top: 8px;
            font-size: 5.2rem;
            font-weight: 600;
            line-height: 65px;
            color: var(--white);
        }

        .sub-title {
            margin-left: 100px;
        }

        Button {
            margin-top: 56px;
            color: var(--black);
            background-color: var(--white);
        }
    }

    &.top-right {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%),
            url('../../../../../public/assets/images/men/container/season/season_2.png');
        background-color: #aeebff;
        padding: 80px 100px;

        .latest {
            font-size: 1.4rem;
            color: var(--white);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                margin-left: 8px;
                top: 80%;
                transform: translateY(-20%);
                width: 875px;
                width: 40px;
                height: 2px;
                border-top: 1px solid var(--white);
            }
        }

        .title,
        .sub-title {
            width: 153px;
            margin-top: 8px;
            font-size: 5.2rem;
            font-weight: 600;
            line-height: 65px;
            color: var(--white);
        }

        .sub-title {
            margin-left: 100px;
        }

        Button {
            margin-top: 56px;
            color: var(--black);
            background-color: var(--white);
        }
    }

    &.bottom-left {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
            url('../../../../../public/assets/images/men/container/season/season_3.png');
        display: flex;
        justify-content: center;
        align-items: center;

        .play-button {
            width: 99px;
            height: 100px;
            border: 5px solid rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .icon {
                font-size: 3.5rem;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }

    &.bottom-right {
        padding: 40px 100px;
        background-color: #fff;

        .title,
        .sub-title {
            font-size: 5.2rem;
            font-weight: 600;
            line-height: 65px;
        }

        .description {
            text-align: justify;
            font-size: 1.4rem;
            margin-top: 24px;
        }

        Button {
            margin-top: 56px;
        }
    }
}
