// Search.scss
.search-bar {
    display: flex;
    height: 38px;

    input {
        flex: 1;
        height: 100%;
        padding: 10px 0 10px 16px;
        border: 1px solid var(--gray);
        box-sizing: border-box;

        &::placeholder {
            color: var(--gray);
        }
    }

    .search-btn {
        font-family: var(--font-text);
        width: 125px;
        line-height: 17.5px;
        color: var(--white);
        background-color: var(--black);
        cursor: pointer;
    }
}
